snippet loggeri
	ActiveRecord::Base.logger.info "#{'*' * 100}\n\n\n"
	ActiveRecord::Base.logger.info "#{${1}.inspect}"
	ActiveRecord::Base.logger.info "#{'*' * 100}\n\n\n"

snippet putsi
	puts "#{'*' * 100}\n\n\n"
	puts "#{${1}.inspect}"
	puts "#{'*' * 100}\n\n\n"
